/* static/style.css */

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.url-form {
    padding: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.url-form label,
.url-form input[type="text"],
.url-form input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.url-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.url-form input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shortened-url {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #444;
}

/* Copyright notice */
.container .copyright {
    text-align: center;
    margin-top: 20px;
    color: #ccc;
}
